
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/jquery.transfer.css" />
<script type="text/javascript" src="/js/jquery.transfer.js?v=0.0.2"></script>
<h1>sfasfsf</h1>
  <div id="transfer1" class="transfer-demo"></div>
<script type="text/javascript">
    var dataArray1 = [
        {
            "city": "Beijing",
            "value": 132
        },
        {
            "city": "Shanghai",
            "value": 422
        },
        {
            "city": "Chengdu",
            "value": 232
        },
        {
            "city": "Wuhan",
            "value": 765
        },
        {
            "city": "Tianjin",
            "value": 876
        },
        {
            "city": "Guangzhou",
            "value": 453
        },
        {
            "city": "Hongkong",
            "value": 125
        }
    ];

    var settings1 = {
        "dataArray": dataArray1,
        "itemName": "city",
        "valueName": "value",
        "callable": function (items) {
            console.dir(items)
        }
    };

    $("#transfer1").transfer(settings1);


    var items = transfer.getSelectedItems()
    console.log("Manually get selected items: %o", items);
</script>

