<header>
    <ul class="menu align-center">
        <li><a>Home</a></li>

        <li><a href="./UsuarioControlador?rota=dieta">Dietas</a></li>

        <li><a>Bem Vindo, </a></li>
    </ul>
</header>