
{{#if success_msg}}

<div data-alert class="alert-box success round">
    {{success_msg}}
  <a href="#" class="close">&times;</a>
</div>

{{/if}}

{{#if error_msg}}
    <div data-alert class="alert-box alert round">
    {{error_msg}}
  <a href="#" class="close">&times;</a>
  </div>
{{/if}}