<footer class="footer">
    {{#if user}}
    <a class="clear button" href="/logout" type="submit" >Logout</a>
    {{else}}
    <button data-open="login" class="clear button">Login</button>

    <div class="reveal" id="login" data-reveal>
        <form id="postLogin">
            <h4><strong>Realize o Login</strong></h4>
            <label for="nome">Usuário
                <input type="text" name="login" id="username">
            </label>
            <label for="senhaUser">Senha
                <input type="password" name="pass" id="senhaUser">
            </label>

            <div class="callout alert-callout-border alert radius" id="alertMessage" style="display: none;">
                <strong>Error:</strong> <span id="errorMessage"></span>
                <button class="close-button" aria-label="Dismiss alert" type="button" onclick="showAlert()">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <a href="#">Esqueceu a senha?</a> <br>
            <div class="btn">
                <input type="submit" class="hollow success button" value="Login"> <br>
                <small>Novo por aqui?</small> <br>
                <a data-open="cadastro" class="hollow success button">Cadastrar</a>
            </div>
        </form>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
    </div>

    <div class="cadastro">

        <div class="reveal cadastro" id="cadastro" data-reveal>
            <form action="/usuarios/registro" method="post">
                <h1><strong>Cadastro do Site</strong></h1>
                <h4><strong>Dados Principais</strong></h4>
                <label for="nome">Nome Completo
                    <input type="text" name="nomeCompleto" id="nomeUser">
                </label>
                <label for="email">Endereço de E-mail
                    <input type="email" name="email" id="email">
                </label>
                <label for="dataNasc">Data de Nascimento
                    <input type="date" name="dataNasc" id="dataNasc">
                </label>
                <label for="sexo">Sexo
                    <select name="sexo" id="sexo">
                        <option value="m">Masculino</option>
                        <option value="f">Feminino</option>
                        <option value="o">Outro</option>
                    </select>
                </label>
                <hr>
                <h4><strong>Dados de Login</strong></h4>
                <label for="username">Nome de Usuário
                    <input type="text" name="login" id="username" required>
                </label>
                <label for="senha">Senha
                    <input type="password" name="pass" id="senha" required>
                </label>
                <label for="confirmSenha">Confirme a Senha
                    <input type="password" name="confirmSenhaUser" id="confirmSenhaUser" required>
                </label>
                <div class="btn">
                    <input type="submit" class="secondary button large" value="Cadastrar">
                </div>
                <button class="close-button" data-close aria-label="Close reveal" type="button">
                    <span aria-hidden="true">&times;</span>
            </form>
        </div>
    </div>

    {{/if}}

</footer>