<nav class="navbar navbar-expand-lg bg-nav">
    <div class="container">
        <div class="navbar-translate">
            <a class="navbar-brand" href="#pablo">NutriStats</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#example-navbar-info"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-info">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">
                        <p>Nutrientes</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <p>Dieta</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <p>Perfil</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">
                        <p>Logout</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>