/* You can add global styles to this file, and also import other style files */
app-footer {
    text-align: right;
    padding-right: 50px;
    padding-top: 7px;
    background-color: #7BC844;
  
    border-top: 1px solid #7BC844;
    bottom: 0;
    left: 0;
    height: 40px;
    position: fixed;
    width: 100%;
  }
  
  app-footer a {
    color: white;
  }