<div>
    <div class="modal-header">
        <h4 class="modal-title">Realize o Login</h4>
        <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="columns">
            <label for="nome">Usuário</label>
            <input type="text" name="userName" id="username"  [(ngModel)]="user">

            <label for="senhaUser">Senha</label>
            <input type="password" name="senha" id="senhaUser" [(ngModel)]="pass">

            <button type="button" class="hollow button success" id="bt-login"
                (click)="login()">Login</button>
            <ngb-alert type="danger" (close)="close()" *ngIf="failToLogin">Usuário ou senha errada</ngb-alert>

        </div>
    </div>
    <div class="modal-footer">
        <a href="#">Esqueceu a senha?</a> <br>
        <button type="button" class="hollow button success" id="bt-cadastrar"
            (click)="openSignUpDialog()">Cadastrar</button>
    </div>
</div>