
<div id="pesquisa" align="center">
<img src="https://i.imgur.com/MTA5XT4.png" alt="imagem-logo" id="logo">
        <form action="/nutrientes/nutrientes" method="get">
                <input type="search" name="barraPesq" placeholder="Ex. feijão..." class="animated-search-form" id="barraPesquisa">
                <button class="hollow button success animated-button" type="submit" id="bt-buscar">Buscar</button>
        </form>
</div>

<table class="responsive-card-table unstriped" id="tb-pesquisa">
</table>
