* {
  margin: 0;
  padding: 0;
}
.label{
  font-size: 1.5rem;
}
.animated-search-form[type=search] {
  width: 15rem;
  border: 0.125rem solid #e6e6e6;
  box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.18);
  border-radius: 0;
  margin: 0;
  background-position: 0.625rem 0.625rem;
  background-repeat: no-repeat;
  padding: 0.75rem 1.25rem 0.75rem 2rem;
  transition: width 0.4s ease-in-out;
  border-radius: 25px;
  height: 2.9rem;
}

.animated-search-form[type=search]:focus{
  width: 75%;
}

.animated-search-form[type=search]:focus{
  width: 75%;
}

/* body{
  
} */

main {
  margin-bottom: 40px;
}

#barrapesquisa{
    display: flex;
    justify-content: center;
    align-content: center;  
}

#login, .cadastro {
  /* background-color: #009432; */
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 1px solid #000;
  border-radius: 10px;
}

#login h4 {
  text-align: center;
  /* background-color: #009432; */
}

.btn {
  /* background-color: #009432; */
  text-align: center
}

#login>a {
  text-decoration: underline
}

h1 {
  text-align: center
}
.responsive-card-table {
  border-collapse: collapse;
}

.responsive-card-table.unstriped tbody {
  background-color: transparent;
}

.responsive-card-table th {
  background-color: #e6e6e6;
}

.responsive-card-table tr,
.responsive-card-table th,
.responsive-card-table td {
  border: 1px solid #0a0a0a;
}

@media screen and (max-width: 640px) {
  .responsive-card-table {
    
  }
  .responsive-card-table thead tr {
    position: absolute;
    top: -9999em;
    left: -9999em;
  }
  .responsive-card-table tr {
    border: 1px solid #0a0a0a;
    display: block;
  }
  .responsive-card-table tr + tr {
    margin-top: 1.5rem;
  }
  .responsive-card-table td {
    border: none;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid #0a0a0a;
    padding-left: 50%;
    position: relative;
  }
  .responsive-card-table td:before {
    content: attr(data-label);
    display: inline-block;
    font-weight: bold;
    line-height: 1.5;
    margin-left: -100%;
    width: 100%;
    position: relative;
    z-index: 1;
  }
  .responsive-card-table td:after {
    content: '';
    position: absolute;
    background: #e6e6e6;
    width: 45%;
    height: 95%;
    left: 1px;
    top: 1px;
    z-index: 0;
  }
}

footer {
  text-align: right;
  background-color: #00b159;
  border-top: 1px solid #00b159;
  bottom: 0;
  left: 0;
  height: 40px;
  position: fixed;
  width: 100%;
}

footer a {
  color: white;
}

#bt-buscar{
  margin: o auto;
  width: 15rem;
  border-radius: 25px;
  margin-top: 0.5rem;
}

.button {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1rem 0;
  padding: 0.85em 1em;
  border: 1px solid transparent;
  border-radius: 0;
  -webkit-transition: background-color 0.25s ease-out, color 0.25s ease-out;
  transition: background-color 0.25s ease-out, color 0.25s ease-out;
  font-family: inherit;
  font-size: 0.9rem;
  -webkit-appearance: none;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: transparent;
  color: #fefefe; }
  [data-whatinput='mouse'] .button {
    outline: 0; }
  .button:hover, .button:focus {
    background-color: #14679e;
    color: #fefefe; }
  .button.tiny {
    font-size: 0.6rem; }
  .button.small {
    font-size: 0.75rem; }
  .button.large {
    font-size: 1.25rem; }
  .button.expanded {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-left: 0; }
.button.hollow {
  border: 1px solid #1779ba;
  color: #1779ba; }
  .button.hollow, .button.hollow:hover, .button.hollow:focus {
    background-color: transparent; }
  .button.hollow.disabled, .button.hollow.disabled:hover, .button.hollow.disabled:focus, .button.hollow[disabled], .button.hollow[disabled]:hover, .button.hollow[disabled]:focus {
    background-color: transparent; }
  .button.hollow:hover, .button.hollow:focus {
    border-color: #3adb76;
    color: #3adb76; }
    .button.hollow:hover.disabled, .button.hollow:hover[disabled], .button.hollow:focus.disabled, .button.hollow:focus[disabled] {
      border: 1px solid #1779ba;
      color: #1779ba; }
.button.hollow.success {
  border: 1px solid #3adb76;
  color: #3adb76; }
  .button.hollow.success:hover, .button.hollow.success:focus {
    border-color: #157539;
    color: #157539; }
    .button.hollow.success:hover.disabled, .button.hollow.success:hover[disabled], .button.hollow.success:focus.disabled, .button.hollow.success:focus[disabled] {
      border: 1px solid #3adb76;
      color: #3adb76; }
        .button.clear.disabled, .button.clear.disabled:hover, .button.clear.disabled:focus, .button.clear[disabled], .button.clear[disabled]:hover, .button.clear[disabled]:focus {
          background-color: transparent; }
        .button.clear:hover, .button.clear:focus {
          background-color: #3adb76;
          border-color: #3adb76;
          color: white; }
          .button.clear:hover.disabled, .button.clear:hover[disabled], .button.clear:focus.disabled, .button.clear:focus[disabled] {
            border: 1px solid #1779ba;
            color: #1779ba; }
.hollow.button.success:hover{
  color: white;
  background-color: #3adb76;
}
.clear.button{
  color: white;
}
.clear.button:hover {
    background: white;
    color: #7BC844;
}
#resultCards{
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#btnCriarDieta button {
  margin-top: 15px;
  margin-left: 450px;
}

#btnCriarDieta a {
  color: green;
}