<div id="pesquisa" align="center">
    <img src="https://i.imgur.com/MTA5XT4.png" alt="imagem-logo" id="logo">

    <input type="search" name="barraPesq" placeholder="Ex. feijão..." class="animated-search-form" id="barraPesquisa"
        [(ngModel)]="alimento" (keyup.enter)="getAlimentos()">
    <br><button class="hollow button success" id="bt-buscar" (click)="getAlimentos()">Buscar</button>

    <app-search-table [alimentos]="result" *ngIf="result.length > 0"></app-search-table>
    <app-footer></app-footer>
</div>