* {
    margin: 0;
    padding: 0;
  }
  
  .animated-search-form[type=search] {
    width: 15rem;
    border: 0.125rem solid #e6e6e6;
    box-shadow: 0 0 3.125rem rgba(0, 0, 0, 0.18);
    border-radius: 0;
    background-position: 0.625rem 0.625rem;
    background-repeat: no-repeat;
    padding: 0.75rem 1.25rem 0.75rem 2rem;
    transition: width 0.4s ease-in-out;
    border-radius: 25px;
  }
  
  .animated-search-form[type=search]:focus{
    width: 75%;
  }
  
  .animated-button{
    width: 10rem;
    transition: width 0.4s ease-in-out;
  }
  
  #bt-buscar{
    margin: o auto;
    width: 15rem;
    height: 2rem;
    border-radius: 25px;
    margin-top: 0.5rem;
  }
  
  /* body{
    
  } */
  
  main {
    margin-bottom: 40px;
  }
  
  #barrapesquisa{
      display: flex;
      justify-content: center;
      align-content: center;  
  }
  
  #login, .cadastro {
    /* background-color: #009432; */
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #000;
    border-radius: 10px;
  }
  
  #login h4 {
    text-align: center;
    /* background-color: #009432; */
  }
  
  .btn {
    /* background-color: #009432; */
    text-align: center
  }
  
  #login>a {
    text-decoration: underline
  }
  
  h1 {
    text-align: center
  }
  .responsive-card-table {
    border-collapse: collapse;
  }
  
  .responsive-card-table.unstriped tbody {
    background-color: transparent;
  }
  
  .responsive-card-table th {
    background-color: #e6e6e6;
  }
  
  .responsive-card-table tr,
  .responsive-card-table th,
  .responsive-card-table td {
    border: 1px solid #0a0a0a;
  }
  
  @media screen and (max-width: 640px) {
    .responsive-card-table {
      
    }
    .responsive-card-table thead tr {
      position: absolute;
      top: -9999em;
      left: -9999em;
    }
    .responsive-card-table tr {
      border: 1px solid #0a0a0a;
      display: block;
    }
    .responsive-card-table tr + tr {
      margin-top: 1.5rem;
    }
    .responsive-card-table td {
      border: none;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      border-bottom: 1px solid #0a0a0a;
      padding-left: 50%;
      position: relative;
    }
    .responsive-card-table td:before {
      content: attr(data-label);
      display: inline-block;
      font-weight: bold;
      line-height: 1.5;
      margin-left: -100%;
      width: 100%;
      position: relative;
      z-index: 1;
    }
    .responsive-card-table td:after {
      content: '';
      position: absolute;
      background: #e6e6e6;
      width: 45%;
      height: 95%;
      left: 1px;
      top: 1px;
      z-index: 0;
    }
  }